h3
  {
    font-size: 25px !important;
  }
  canvas {
    border:2px dashed black;
    animation-name: exemplo;
    animation-duration:1s;
    animation-iteration-count: infinite;
  }
  @keyframes exemplo{
    from{
        box-shadow: 1px 1px 40px yellow;
    }
    to{
        box-shadow: 1px 1px 40px green;
    }
  }